/*CSS for Home and Jackets page */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box

}

/* Font in footer */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.logo {
  width: 130px;
  margin: auto;
  display: flex;
  float: left;
  margin-left: 30px;
  }

  /*Navigation Bar */
 .nav-bar,
  #menu-checkbox{
    display: none;
    z-index: 1;

  }


  #menu-checkbox:checked ~ .nav-bar{
    display: block;
  }

  .fas {
    padding: 20px;
  }

  .nav-bar{
    position: absolute;
    background-color: white;
    left: 0px;
    height: 70px;
  
  }

  header{
    height: 100%;
    width: 100%;
    display: flex;
  }

  .nav-bar a{
    display: block;
    color: black;
    padding: 20px 30px;
    background-color: white;
    text-decoration: none;
  }
  .dropdownlinks{
    background-color: #0F3B53;
  }

@media (min-width: 600px){
   .nav-bar{
    display: block;
    position: static;
    display: flex;

   } 

   .hamburger-icon{
    display: none;
    margin: 20px;
   }

   .nav-bar a{
    display: inline-block;
   }
}


/* Navigation Bar end */

/*Body content */
main{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.pic-1 {
    position: relative;
    width: 100%;
   margin-top: 10px;
  
    
}

.heading{
    color: white;
    position: absolute;top: 14%;
    width: 100%;
    text-align: center;
}

.btn1 {
position: absolute; top: 20%;
background-color: red;
border-radius: 4px;
text-align: center;
margin-top: 1.3rem;
font-size: 30px;
font-weight: bold;
border: solid black 2px;
padding: 5px;
border-radius: 10px;
padding-left: 10px;
padding-right: 10px;

}

.btn1 a {
  color: white;
  text-decoration: none;
}


ul{
    list-style: none;
    color: white;
    font-size: 10px;
}
/*Body content end */

/*Footer */
.footer {
    background-color: #0F3B53;
    padding: 0 0;
    margin-top: 5%;
    color: #ffffff;
    position: relative;
    bottom: 0;
    min-width: 100%;

}

.footer-col{
width: 25%;
padding: 0 25px;
text-decoration: none;
font-size: 12px;

}

.footer-col h4{
    display: flex;
    font-size: 15px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 500;

}

.row {
    display: flex;
    flex-direction: row;
}


h4 {
    color: #ffffff;
    font-weight: 500;
    padding: 5px;
}

.footer-col a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    padding: 5px;
}

.footer .social-links a{
  color: black;
  }
  
  .footer .social-links a:hover{
    color: green;
  }
/*Jackets page start main*/ 

.all-jacketsgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
    place-items: center;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;

}



.all-jackets h3 p {
position: absolute;
}



.image-container {
max-width: 400px;


}

.jackets {
    height: 450px;
    width: 100%;
    background-color: rgb(209, 209, 209);
    margin-right: 100px;
  }

  .border-box {
    background-color: rgb(232, 225, 225);
  }

/*Jackets page end */

/*Spesific jacket page*/ 

.watch {
  height: 600px;
  width: 100%;
  background-color: rgb(209, 209, 209);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
 

 
}

.jacket-info{
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.btn2 a {
  background-color: black;
  color: white;
  border-radius: 5px;
 font-size: 20px;
}

.btndiv{
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
}

span{
  font-weight: bold;
}

.sizes{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.sizes button{
  font-size: 15px;
}

/*Spesific jacket page end */ 


/*About site start*/ 

.about{
  padding: 10px;
}

/* About site end*/

/* Contact site start*/

.contact{
  padding: 20px;
  padding-top: 10px;
}

/* Contact site end */

/*Cart site start */




.whole-cart{

padding-top: 40px;
padding-bottom: 155px;
padding-left: 10px;

}

.fir-row{
display: flex;
justify-content: space-around;



}


.fir-row p{
 padding: 70px 15px 0 15px;
 border-bottom: 2px solid black;
 
}

.sec-row{
display: flex;
align-items: center;
justify-content: space-around;
border-bottom: 2px solid black;


}

.img3{
width: 75px;

}

.whole-cart button{
  font-size: 13px;
  
}

.btn3{
  position: absolute;
text-decoration: none;
font-size: 30px;
background-color: black;
color: white;
border-radius: 5px;
left: 50%;


}








@media (min-width: 620px){
  .fir-row p{
    padding: 30px 60px 0 60px;
  }
  
/*Cart site end */


/* Checkout site start */

